/* header font: corbel */
@keyframes fadein{
    from {
        opacity: 0;
    }
    to{
        opacity: 1;
    }
}
*{
    padding: 0;
    margin: 0;
}


#main_image{
        /* 애니메이션 */
        animation-name: fadein;
        animation-duration: 3s;
    
        /* 레이아웃 */
        width: 100%;
        height: 40vh;
        display: table;
        margin-bottom: 5vh;
    
        /* 사진 */
        background-image: url(img/main/city_Berlin_in.jpg);
        background-size:cover;
        background-repeat: no-repeat;
        
        
        border: solid 1px black;
}

#image_text{
    display: table-cell;
    vertical-align: middle;

    color: white;
    font-size: 100px;
    text-align: center;
    text-shadow: 1px 1px 4px black;
}

#content_title{
    font-size: 50px;
}